<ion-view view-title="Register">
    <ion-content class="padding-top">
        <div class="text-center padding-top">
            <i class="icon ion-android-person-add larger positive"></i>
        </div>
        <form name="registerForm" novalidate ng-submit="registerForm.$valid && vm.register(user)" ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
            <div class="list">

                <!--               firstname-->
                <label class="item item-input item-floating-label">
                    <span class="input-label">First name:</span>
                    <input name="txtfirstname" type="text" ng-model="user.firstname" placeholder="Firstname" ng-minlength="2" ng-maxlength="30" required>
                </label>
                <div class="form-errors" ng-messages="registerForm.txtfirstname.$error" ng-if="registerForm.$submitted">
                    <div class="form-error" ng-message="required">This is a required field</div>
                    <div class="form-error" ng-message="minlength">Your password must contain atleast 2 characters</div>
                    <div class="form-error" ng-message="maxlength">Email address must be less than 30 characters</div>
                </div>

                <!--                lastname-->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Last name:</span>
                    <input name="txtlastname" type="text" ng-model="user.lastname" placeholder="Lastname" ng-minlength="2" ng-maxlength="30" required>
                </label>
                <div class="form-errors" ng-messages="registerForm.txtlastname.$error" ng-if="registerForm.$submitted">
                    <div class="form-error" ng-message="required">This is a required field</div>
                    <div class="form-error" ng-message="minlength">Your password must contain atleast 2 characters</div>
                    <div class="form-error" ng-message="maxlength">Email address must be less than 30 characters</div>
                </div>

                <!--                site-->
                <!--
 <div class="list">

    <label class="item item-input item-select" ng-model="user.site" name="txtsite">
        <div class="input-label">
            &nbsp;
        </div>
        <select>
            <option selected>Epworth Richmond</option>
            <option>Epworth Eastern</option>
            <option>Epworth Freemasons</option>
        </select>
    </label>

</div>

<div class="form-errors" ng-messages="registerForm.txtsite.$error" ng-if="registerForm.$submitted">
    <div class="form-error" ng-message="required">This is a required field</div>
</div>
-->


                <!--                email-->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input name="txtemail" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
                </label>
                <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
                    <div class="form-error" ng-message="required">This field is must be a valid email address.</div>
                    <div class="form-error" ng-message="email">This field is must be a valid email address.</div>
                    <div class="form-error" ng-message="maxlength">Email address must be less than 30 characters</div>
                </div>
                <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
                    <span class="input-label">Password</span>
                    <input name="txtpassword" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="25" required>
                </label>
                <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
                    <div class="form-error" ng-message="required">You must enter a password.</div>
                    <div class="form-error" ng-message="minlength">Your password must contain atleast five characters</div>
                    <div class="form-error" ng-message="maxlength">Your password must be less than 25 characters</div>
                    <div class="form-error" ng-message="pattern">You must enter only characters letters and numbers.</div>
                </div>
            </div>
            <div class="padding-top">
                <input type="submit" value="Register" class="button button-block button-dark" />
            </div>
        </form>
    </ion-content>
</ion-view>
