<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title ">{{ vm.action }} Activity</h1>
        <div class="buttons ">
            <button ng-hide="isAdd " ng-click="vm.cancelActivity() " class="button button-icon ion-ios-close-outline "></button>
        </div>
    </ion-header-bar>
    <ion-content>

        <!--       Start Date and UR input-->
        <div class="row item item-balanced">
            <div class="col 50">&nbsp;&nbsp;&nbsp;&nbsp;<i class="ion-ios-calendar-outline"></i> Select Date</div>
            <div class="col 50"> &nbsp;&nbsp;&nbsp;&nbsp;<i class="ion-android-person-add"></i> Patient ID</div>
        </div>
        <div class="row">
            <div class="col 50">
                <div>
                    <label class="item item-input noborder">
                        <input type="date" placeholder="Date" ng-model="vm.addDate">
                    </label>
                </div>
            </div>
            <div class="col 50">
                <ion-list>
                    <label class="item item-input noborder">
                        <input type="text" placeholder="Enter patient ID" ng-model="vm.activity.ur">
                    </label>
                </ion-list>
            </div>
        </div>
        <!--        End Date and UR input-->

        <!--        Start Activity Input-->
        <div class="item item-balanced ">
            <i class="ion-compose"></i> Select Activity
        </div>
        <ion-list>
            <ion-radio name="activities" ng-repeat="item in vm.activityList " ng-value="item.value " ng-model="vm.activity.name"> {{ item.text }}
            </ion-radio>
        </ion-list>
        <!--        End Activity Input-->

        <!--        Start Site checkboxes-->
        <div class="item item-balanced">
            <i class="ion-ios-medkit-outline"></i> Select Site
        </div>

        <ion-list>
            <ion-radio name="sites" ng-repeat="site in vm.siteList track by $index" ng-value="site.name" ng-model="vm.activity.site"> {{ site.name }}
            </ion-radio>
        </ion-list>
        <!--        End Site Input-->

        <!--                start notes-->
        <div class="item item-balanced">
            <i class="ion-clipboard"></i> Add Notes
        </div>
        <div class="item" style="min-height:100px">
            <label class="item item-input">
                <!--                    <span class="input-label">Spiritual</span>-->
                <textarea id="notesId" ng-change="vm.expandText()" ng-keyup="vm.expandText()" placeholder="Notes..." ng-model="vm.activity.notes"></textarea>
            </label>
        </div>
        <!--end journal notes-->

        <div class="padding ">
            <button ng-if="vm.add" ng-click="vm.saveActivity() " class="button button-block button-positive activated ">Save</button>
            <button ng-if="vm.edit" ng-click="vm.updateActivity(vm.activity.$id) " class="button button-block button-positive activated ">Update</button>
            <button ng-click="vm.cancelActivity() " class="button button-block button-dark ">Cancel</button>
        </div>
    </ion-content>
</ion-modal-view>
