<ion-view view-title="Settings">
    <ion-nav-buttons side="left">
        <a ng-click="vm.logOut()" class="button" nav-clear>Logout</a>
    </ion-nav-buttons>
    <ion-content>

        <div class="list">
            <div class="item item-divider item-balanced">
                Select Site
            </div>

            <div>
                <ion-checkbox ng-repeat="site in vm.siteList track by $index" ng-model="site.checked" ng-checked="site.checked">
                    {{ site.text }}
                </ion-checkbox>
            </div>
        </div>

        <button class="button button-block button-positive" ng-click="vm.setSites()">
            Save Account Details
        </button>
        <button ng-click="vm.cancelSetting() " class="button button-block button-dark ">Cancel</button>
    </ion-content>
</ion-view>
